
body{
    font-size: 14px;
    background:hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 700px;
    margin: 30px auto;
    padding: 0 ;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
}
.photo {
    width: 50%;
}
img{
    max-width: 100%
}
.info {
    width: 50%;
    background: hsl(0, 0%, 100%);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    padding: 35px;
}
.perfume{
    color: hsl(228, 12%, 48%);
    letter-spacing: 3px;
}
h1{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-size: 34px;
    line-height: 1em;
    margin: 0;

}
.description, .realprice{
    color: hsl(228, 12%, 48%);
    line-height: 1.6em;
}
.price {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    align-items: center;
}
.discount{
    font-weight: 700;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 30px;
}
.realprice{
    text-decoration: line-through;
}
.cart{
    background: hsl(158, 36%, 37%);
    border-radius: 10px;
    width: 100%;
    height: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    cursor: pointer;
}
.cart:hover{
    background: hsl(158, 36%, 23%);
}